extends ../layout
block content
  h1= title

  p
    if currentUser
      a(href='/spaces/new') Click here to add your own property

    div(class='spaces')
     each val in spaces
      a(href='/spaces/view?id=' + val.id)
        div(id='space-listing')
          div(id='space-name')= val.name
          div(id='space-description')= val.description
          div(id='space-price')= '£' + val.price +'.00 per night'
          div(id='space-avaliblefrom')= val.availiblefrom
          div(id='space-avalibleto')= val.availibleto
